/*
 * ---------------------------------
 * STYLING OF THE ADMIN ELEMENTS
 * ---------------------------------
 */

.logged-in {
  .tabs {

    &.primary {
      position: absolute;
      top: 100px;
      left: 0px;

      @extend .clean-list;
      float: right;
      overflow: hidden;

      li {
        float: left;
        display: block;
        background-color: #ccc;
        border: 1px solid #999;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-left: 10px;

        &:hover,
        &.active {
          background-color: #aaa;
        }

        a {
          margin: 3px 10px;
          color: #333;
          text-decoration: none;
          font-size: 0.9em;
        }
      }
    }
  }
}

.admin-wrapper {
  background-color: #222;
  border-bottom: dotted 1px #555;
}
.admin-content {
  padding-top: 0.8em;
  padding-bottom: 0.8em;

  .admin-second {
    font-size: 1.1em;
    text-align: right;
  }

  @include breakpoint($breakpoint_ipad_land) {
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    .admin-second {
      font-size: 0.9em;
    }
  }
}
