/*
 * ---------------------------------
 * STYLING OF THE FORM ELEMENTS
 * ---------------------------------
 */

form {
  @include breakpoint($breakpoint_ipad_land) {
    font-size: 0.9em;
  }

  .form-item {
    margin-bottom: 10px;

    label {
      font-weight: normal;
      margin-bottom: 0.2em;
    }

    input,
    textarea {
      border: 1px solid #959595;
      background: none;
      padding: 10px 5px;
      color: #fff;

      &.error {
        border-color: red;
      }
    }
  }

  input[typ="submit"],
  .form-submit {
    margin-top: 10px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    width: auto;
    padding: 8px 15px;
    float: right;
  }
}