/*
 * ---------------------------------
 * STYLING OF THE NEWS PAGE
 * ---------------------------------
 */

 .page-nieuws {
  h1 {
    @extend .element-invisible;
  }
 }

/* News teasers */
.news-items {

  .news {
    border-bottom: 1px solid $dark-grey;
    padding-bottom: 4%;
    margin-bottom: 4%;

    .image {
      overflow: hidden;
      height: 150px;

      img {
        margin-top: -90px;
      }
    }

    .text {
      h2 {
        margin: 0.5em 0 0.5em 0;
        line-height: 1.3em;
      }

      p {
        margin: 0;
        margin-bottom: 0.5em;
      }
    }

    @include breakpoint($breakpoint_iphone_land) {
      .image {
        @include span-columns(3,8);
        overflow: visible;
        height: 100%;

        img {
          margin: 0;
        }
      }

      .text {
        @include span-columns(5 omega,8);

        h2 {
          margin-top: 0;
        }
      }
    }

    @include breakpoint($breakpoint_ipad_land) {
      .image {
        @include span-columns(4,8);
      }

      .text {
        @include span-columns(4 omega,8);
      }
    }
  }
}

/* News detail page */
.node-type-news {
  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }

}

.sidebar {
  h2 {
    color: $yellow;
    font-size: 1.2em;
    margin: 0;
    font-weight: normal;
  }

  .links {
    margin-bottom: 20px;
    line-height: 1.3em;

    ul {
      margin: 0;
      padding-left: 17px;
      
      li {
        list-style-type: square;
        margin-bottom: 0.7em;

        a {
          display: inline-block;
          width: 100%;
          color: #fff;

          &:visited,
          &:active,
          &:link {
            color: #fff;
            text-decoration: none;
          }

          &:focus,
          &:hover {
            text-decoration: underline;
            color: $yellow;
          }

        }

        span {
          color: #ccc;
          font-size: 0.85em;
          line-height: 1em;
          
          span {
            font-size: 1em;
          }

          &.stroke {
            margin-left: 5px;
            margin-right: 5px;
          }

          &.file {
            font-size: 1em;
          }
        } 
      }
    }
  }

  @include breakpoint($breakpoint_iphone_land) {
    .block {
      @include span-columns(2,4);

      &:nth-child(2) {
        @include span-columns(2 omega,4);
      }
    }
  }

  @include breakpoint($breakpoint_ipad_land) {
    h2 {
      font-size: 0.95em;
    }

    .block {
      @include span-columns(4 omega,4);

      &:nth-child(2) {
        @include span-columns(4 omega,4);
      }

      ul {
        li {
          a {
            font-size: 0.95em;
          }

          span {
            font-size: 0.75em;
            span {
              font-size: 1em;
            }

            &.file {
              font-size: 1em;
            }
          } 
        }
      }
    }
  }
}