/*
 * ---------------------------------
 * STYLING OF THE ORDER PAGES
 * ---------------------------------
 */

/* Order overview page */
.page-user-orders {
  h1 {
    margin-bottom: 0.5em;
  }

  .cart {
    .title {
      margin-bottom: 0;

      span {
        display: block;
        width: 100%;

        &.code {
          color: $light-grey;
          font-size: 0.8em;
        }
      }
    }
    .quantity {
      padding: 9px 0;
    }
  }

  .view-header {
    .quantity {
      padding: 0;
    }
  }

  .entity-commerce-order {

    .field {
      @include span-columns(12);
      margin-bottom: 1em;
    }
  }

  tbody,
  td,
  tr {
    border: none;
    background: none;
  }
}

.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  background: none;
}