/*
 * ---------------------------------
 * STYLING OF THE SHOPPINGCART PAGES
 * ---------------------------------
 */

/* Shopping cart status */
.line-item-summary {
  @include span-columns(12);

  .admin-second &{
    margin-bottom: 0;
    

    > a {
      margin-right: 10px;
    }

    ul {
      @extend .clean-list;
      display: inline;

      li {
        display: inline;
      }
    }
  }

  .cart &{
    margin-top: 0.5em;
  }
}

.admin-second {
  .view-empty {
    color: $light-grey;
  }
}

.page-cart {
  h1 {
    margin-bottom: 0.5em;
  }
}

/* Shopping cart overview */
.cart {
  @include span-columns(12);

  .cart-item {
    @include span-columns(12);
    margin-bottom: 1.5em;

    &.views-row-last {
      border-bottom: 1px solid $text-color;
      padding-bottom: 1em;
    }
  }
  
  .title {
    @include span-columns(12);
    margin-bottom: 0.5em;
  }
  .price {
    @include span-columns(3);
    padding: 9px 0;
  }
  .quantity {
    @include span-columns(2);
    text-align: center;
    .form-item {
      margin-bottom: 0;
      
      input {
        text-align: center;  
      }
    }
  }
  .remove {
    @include span-columns(4);
    text-align: center;
    input {
      float: none;
      padding: 11px 5px;
      margin-top: 0;
    }
  }
  .total {
    @include span-columns(3 omega);
    padding: 9px 0;
    text-align: right;
  }

  .view-header {
    display: none;
    .title,
    .price,
    .quantity,
    .remove,
    .total {
      padding: 0;
    }
  }

  .form-actions {
    input {
      margin-left: 10px;

      &#edit-checkout {
        font-weight: bold;
      }
    }
  }

  @include breakpoint($breakpoint_ipad_port) {
    .cart-item {
      margin-bottom: 0.5em;
    }
    .title {
      @include span-columns(11,24);
      padding: 9px 0;
      a {
        color: $text-color;
      }
    }
    .price {
      @include span-columns(3,24);
    }
    .quantity {
      @include span-columns(2,24);
    }
    .remove {
      @include span-columns(4,24);
    }
    .total {
      @include span-columns(3 omega,24);
    }

    .view-header {
      @include span-columns(12);
      display: block;
      font-weight: bold;
      color: $yellow;
      margin-bottom: 0.5em;
    }    
  }
}

.page-checkout {

  form {
    font-size: 1em;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: 1em;
    padding-bottom: 1em;

    legend {
      color: $yellow;
      padding-bottom: 1em;
      font-weight: bold;
    }

    .cart {
      .view-header {
        display: none;
      }

      .title {
        padding: 0;
      }
      .quantity {
        text-align: right;
        width: auto;
      }
      .price {
        text-align: left;
        padding: 0;
      }
      .total {
        padding: 0;
      }

      .view-footer {
        table {
          @include span-columns(12);
          margin-top: 1em;

          tbody {
            border: none;
            @include span-columns(12);
          }
          tr {
            background: none;
            border: none;
            @include span-columns(12);
            margin-right: 0;
            padding-right: 0;

            td {
              
              &.component-title {
                @include span-columns(18,24);
                text-align: right;
              }
              &.component-total {
                @include span-columns(6 omega,24);
              }

              @include breakpoint($breakpoint_ipad_port) {
                &.component-title {
                  @include span-columns(20,24);
                }
                &.component-total {
                  @include span-columns(4 omega,24);
                }
              }
            }
          }
        }
      }
    }
    @include breakpoint($breakpoint_ipad_port) {
      .cart-item {
        margin-bottom: 0;
      }
    }

    /* Full name input field */
    .form-item-customer-profile-billing-commerce-customer-address-und-0-name-line,
    .form-item-customer-profile-shipping-commerce-customer-address-und-0-name-line {
      @include span-columns(12,12);
    }

    /* Postal code input field */
    .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code,
    .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code {
      @include span-columns(4,12);

      @include breakpoint($breakpoint_ipad_port) {
        @include span-columns(2,12);
      }
    }

    /* City input field */
    .form-item-customer-profile-billing-commerce-customer-address-und-0-locality,
    .form-item-customer-profile-shipping-commerce-customer-address-und-0-locality {
      @include span-columns(8 omega,12);

      @include breakpoint($breakpoint_ipad_port) {
        @include span-columns(10 omega,12);
      }
    }

    .commerce-customer-profile-copy {
      @include span-columns(12,12);
      margin-bottom: 2em;

      input {
        @include span-columns(2,36);
        margin-top: 0.3em;
      }
      label {
        @include span-columns(32,36);
      }

      .ajax-progress {
        @include span-columns(2 omega,36);
        > * {
          float: right;
        }
      }
    }

    &.checkout-buttons {

      .checkout-cancel,
      .checkout-back {
        margin-right: 1em;
        margin-top: 1em;
      }
    }

    &.commerce_shipping {
      .form-item {
        @include span-columns(12,12);
        margin-bottom: 0;

        input {
          @include span-columns(4,36);
          margin-top: 0.1em;
        }
        label {
          @include span-columns(32 omega,36);
        }

        @include breakpoint($breakpoint_ipad_port) {
          input {
            @include span-columns(2,36);
            margin-top: 0.1em;
          }
          label {
            @include span-columns(34 omega,36);
          }
        }
      }
    }

    &.commerce_payment {
      #edit-commerce-payment-payment-method {
        display: none;
      }
      #payment-details {
        @include span-columns(12,12);
        p {
          margin-top: 0;
        }
      }
    }
  }
}

.page-checkout-review {
  .checkout-help {
    @include span-columns(12,12);
    margin-bottom: 2em;
    color: $dark-grey;
  }
  table {
    @include span-columns(12,12);

    tbody {
      border-top: none;
      @include span-columns(12,12);

      tr {
        background: none;
        border-bottom: none;
        @include span-columns(12,12);

        &.even {
          margin-bottom: 2em;
        }

        &.pane-title,
        &.pane-data {
          padding: 0;

          td {
            padding: 0;
            @include span-columns(12,12);
          }
        }
      }
    }
  }
  fieldset {
    @include span-columns(12,12);
  }
  .cart {
    margin-top: 1em;

    .cart-item {
      
    }

    .title {
      padding: 0;

      @include breakpoint($breakpoint_ipad_port) {
        margin-bottom: 0;
      }
    }
    .quantity {
      margin-bottom: 0;
      padding: 0;
      text-align: left;
      width: auto;

      @include breakpoint($breakpoint_ipad_port) {
        @include span-columns(2,24);
        text-align: center;
      }

    }
    .price {
      margin-bottom: 0;
      padding: 0;
    }
    .total {
      margin-bottom: 0;
      padding: 0;
    }

    .view-footer {
      table {
        @include span-columns(12);
        margin-top: 1em;

        tbody {
          border: none;
          @include span-columns(12);
        }
        tr {
          background: none;
          border: none;
          @include span-columns(12);
          margin-right: 0;
          padding-right: 0;

          td {
            
            &.component-title {
              @include span-columns(18,24);
              text-align: right;
            }
            &.component-total {
              @include span-columns(6 omega,24);
            }

            @include breakpoint($breakpoint_ipad_port) {
              &.component-title {
                @include span-columns(20,24);
              }
              &.component-total {
                @include span-columns(4 omega,24);
              }
            }
          }
        }
      }
    }
  }

  .cart-contents,
  .checkout-review {
    @include span-columns(12);
    margin-bottom: 2em;
  }

  .profile,
  .billing,
  .shipping {
    @include span-columns(12);

    @include breakpoint($breakpoint_iphone_land) {
      @include span-columns(4,12);

      &.shipping {
        @include span-columns(4 omega,12);
      }
    }
  }
}






