////////////////////////
// Style Guide Partials
//
// Write a Style Guide for your website, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design
//  (but separating the two in here is a good idea).
////////////////////////

/* Import base elements */
@import 'modules/base-elements';

/* Admin styles */
@import 'modules/admin';

/* Import forms style */
@import 'modules/forms';

/* Import forms style */
@import 'modules/mailchimp';

/* Import infopage module */
@import 'modules/info';

/* Import contact page module */
@import 'modules/contact';

/* Import news module */
@import 'modules/news';

/* Import news module */
@import 'modules/collection';

/* Import webshop module */
@import 'modules/webshop';

/* Import shoppingcart module */
@import 'modules/shoppingcart';

/* Import order module */
@import 'modules/order';


/*

.admin-wrapper {
  ul {
    &.menu {
      @extend .clean-list;

      li {
        display: inline;
        float: left;
        list-style-type: none;
        list-style: none;
        list-style-image: none;
        background-color: #666;

        &:hover {
          background-color: $yellow;
        }

        a {
          color: #fff;
          font-size: 0.8em;
          display: block;
          padding: 2px 10px;
          text-decoration: none;
        }


      }
    }


  }
}

.logged-in {

  .admin-wrapper {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
  }

}
*/
