/*
 * ---------------------------------
 * LAYOUT OF THE WEBSITE
 * ---------------------------------
 */

/*
 * GRID SYSTEM
 */ 
$breakpoint-default-media: 'all';
$breakpoint-default-feature: 'min-width';
$breakpoint-default-pair: 'width';
$breakpoint-to-ems: false;

$total-columns: 12;
$column-width: 4.5em;
$gutter-width: 1em;
$grid-padding: $gutter-width/2;

/* Page elements */
.page-wrapper {
  @include container;
  width: 100%;
}

header,
footer,
.slider-wrapper,
.content-wrapper,
.message-wrapper {
  @extend .clearfix;
  @include span-columns(12);

  .center {
    @include span-columns(12);
  }

  &.with-sidebar {
    .sidebar {
      @include span-columns(12);
    }

    @include breakpoint($breakpoint_ipad_land) {
      .center {
        @include span-columns(8);
      }

      .sidebar {
        @include span-columns(4 omega);
      }
    }
  }
}

header,
footer,
.slider-wrapper {
  margin-bottom: 10px;
}


/* Header elements */
header {
  .logo {
    @include span-columns(8, 12);

    @include breakpoint($breakpoint_ipad_land) {
      display: none;
    }


  }
  nav {
    @include span-columns(12 omega, 12);

    ul {
      @include span-columns(12 omega, 12);
    }
  }
}

/* Footer layout */
footer {
  .footer-first {
    display: none;

    @include breakpoint($breakpoint_ipad_land) {
      @include span-columns(3);
    }
  }

  .footer-second {
    @include span-columns(12 omega);

    @include breakpoint($breakpoint_iphone_land) {
      @include span-columns(6);
    }

    @include breakpoint($breakpoint_ipad_port) {
      @include span-columns(4);
    }

    @include breakpoint($breakpoint_ipad_land) {
      @include span-columns(3);
    }
  }

  .footer-third {
    @include span-columns(12); 

    @include breakpoint($breakpoint_iphone_land) {
      display: none;
    }

    @include breakpoint($breakpoint_ipad_port) {
      @include span-columns(4);
    }

    @include breakpoint($breakpoint_ipad_land) {
      @include span-columns(3);
    }
  }

  .footer-fourth {
    @include span-columns(12);

    @include breakpoint($breakpoint_iphone_land) {
      @include span-columns(6 omega);
    }

    @include breakpoint($breakpoint_ipad_port) {
      @include span-columns(4 omega);  
    }

    @include breakpoint($breakpoint_ipad_land) {
      @include span-columns(3 omega);
    }
  }

  .footer-fifth {
    @include span-columns(12);

    .copyright {
      @include span-columns(12);

      @include breakpoint($breakpoint_ipad_land) {
        @include span-columns(9);  
      }
    }

    .website {
      @include span-columns(12 omega);

      @include breakpoint($breakpoint_ipad_land) {
        @include span-columns(3 omega);  
      }
    }
  }
}





/* TODO */

/* Admin wrapper */
/*
.admin-wrapper {
  @extend .clearfix;
  @include span-columns(12);
}
*/