////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$background-color: #000000;
$text-color: #fff;
$yellow: #bd9b28;
$light-grey: #aaa;
$dark-grey: #626262;

$breakpoint_iphone_land: 321px;
$breakpoint_ipad_port: 481px;
$breakpoint_ipad_land: 800px; //ok zo? nog testen
$breakpoint_desktop: 1024px;

$border-radius: 3px;