////////////////////////
// IE Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file. This is for Internet Explorer's Use.
//
// All styling, non box model properties go here
////////////////////////

.front .center img {
  float: left;
}

.form-item,
.form-actions {
  margin: 0;
}

input {
  width: 100%;
}

header {
  font-size: 1.2em;
    
  ul.menu {
    position: static;
    right: 0px;
    top: 0px;
    margin-bottom: 0px;

    li {
      display: block !important;
      float: left;
      width: 13%;
      height: 125px;
      border: none;
      background-color: #000;

      a {
        padding: 0;
        height: auto;
        margin-top: 51px;
      }

      &.first {
        margin-top: 0px;
        text-align: left;
        width: 12%;
        a {
          text-align: left;
        }
      }

      &.last {
        width: 10%;
        a {
          text-align: right;
        }
      }

      &.home {
        display: block;
        width: 26%;
        background-image: url('../img/helena-jelbrich.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        a {
          display: block;
          text-indent: -9999px;
          margin-top: 0;
          height: 125px;
        }

      }

      &#navigationtoggle {
        background: none;
        background-color: transparent;
        display: none;
        a {
          display: none;
        }
      }
    }
  }
}

footer {

  .footer-first,
  .footer-second,
  .footer-third,
  .footer-fourth {
    border: none;
  }

  .footer-fifth {
    padding-top: 10px;

    ul {
      li {
        float: left;
        margin-right: 5px;

        &:after {
          content: " |";
        }

        &.last {
          margin-right: 0px;

          &:after {
            content: '';
          }
        }
      }

      &.sanne {
        float: right;

        li {

          &:after {
            content: '';
          }              
        }
      }
    }
  }
}

#mailchimp-newsletter-nieuwsbrief {
  
  .form-type-textfield {
    label {
      display: block;
      font-weight: normal;
      font-size: 13px;
    }
  }
}

#mailchimp-lists-user-subscribe-form-nieuwsbrief {
  #edit-submit {
    text-transform: capitalize;
    background: none;
    text-indent: -9999px;
    border: none;
    display: block;
    float: right;
    width: 20px;
    height: 25px;
    background-image: url('../img/subscribe-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 65px;
  }
}

#slider {
  li {
    .caption {
      bottom: 0px;
    }
  }
}

.slideshow {
  position: relative;

  .prev,
  .next {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    background-image: url('../img/slider-arrows.png');
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-indent: -99999px;
    overflow: hidden;
  }


  .prev {
    left: 10px;
    background-position: 10px 50%;
    
  }

  .next {
    right: 10px;
    background-position: -37px 50%;
  }
}

.news {
  .image {
    @include span-columns(4,8);
    height: auto !important;
  }
  .text {
    @include span-columns(4 omega,8);
  }
}

/* album covers styling */
.collection {
  float: none;
  .album {
    .image {
      position: static;
      display: block;
      
      overflow: visible;
      float: none;

      a {
        float: none;

        img {
          float: none;
          width: auto;
        }
      }
    }
  }
}

/* Webshop detail page */
.webshop-detail {
  .detail {
    @include span-columns(8,12);
  }
  
  .order {
    @include span-columns(4 omega,12);
  }
}

/* Shopping cart & checkout */
.cart {
  .cart-item {
    margin-bottom: 0.5em;
  }
  .title {
    @include span-columns(11,24);
    padding: 9px 0;
    a {
      color: $text-color;
    }
  }
  .price {
    @include span-columns(3,24);
  }
  .quantity {
    @include span-columns(2,24);
  }
  .remove {
    @include span-columns(4,24);
  }
  .total {
    @include span-columns(3 omega,24);
  }

  .view-header {
    @include span-columns(12);
    display: block;
    font-weight: bold;
    color: $yellow;
    margin-bottom: 0.5em;
  }
}

/* Page checkout */
.page-checkout {
  fieldset {
    .cart {
      .view-footer {
        table {
          tr {
            td {
              &.component-title {
                @include span-columns(20,24);
              }
              &.component-total {
                @include span-columns(4 omega,24);
              }
            }
          }
        }
      }
    }
    .cart-item {
      margin-bottom: 0;
    }
    
    /* Postal code input field */
    .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code,
    .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code {
      @include span-columns(2,12);
    }

    /* City input field */
    .form-item-customer-profile-billing-commerce-customer-address-und-0-locality,
    .form-item-customer-profile-shipping-commerce-customer-address-und-0-locality {
      @include span-columns(10 omega,12);
    }

    .commerce-customer-profile-copy {
      input {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    &.commerce_shipping {
      .form-item {
        input {
          @include span-columns(2,36);
          margin-top: 0.1em;
          border: none;
          padding: 0;
        }
        label {
          @include span-columns(34 omega,36);
        }
      }
    }
  }
}

.page-checkout-review {
  .cart {
    .title {
      margin-bottom: 0;
    }
    .quantity {
      @include span-columns(2,24);
      text-align: center;
    }
    .view-footer {
      table {
        tr {
          td {
            &.component-title {
              @include span-columns(20,24);
            }
            &.component-total {
              @include span-columns(4 omega,24);
            }
          }
        }
      }
    }
  }

  .cart-contents,
  .checkout-review {
    @include span-columns(12);
    margin-bottom: 2em;
  }

  .profile,
  .billing,
  .shipping {
    @include span-columns(4,12);

    &.shipping {
      @include span-columns(4 omega,12);
    }
  }
}