/* line 8, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_border-box.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_fluid-media.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 8, ../sass/partials/global/_extendables.scss */
.clearfix, .mailchimp #mailchimp-newsletter-nieuwsbrief, .yellow-box form {
  zoom: 1;
}
/* line 10, ../sass/partials/global/_extendables.scss */
.clearfix:before, .mailchimp #mailchimp-newsletter-nieuwsbrief:before, .yellow-box form:before, .clearfix:after, .mailchimp #mailchimp-newsletter-nieuwsbrief:after, .yellow-box form:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 16, ../sass/partials/global/_extendables.scss */
.clearfix:after, .mailchimp #mailchimp-newsletter-nieuwsbrief:after, .yellow-box form:after {
  clear: both;
}

/* line 21, ../sass/partials/global/_extendables.scss */
.clean-list, header ul.menu, footer ul, .logged-in .tabs.primary {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}
/* line 28, ../sass/partials/global/_extendables.scss */
.clean-list li, header ul.menu li, footer ul li, .logged-in .tabs.primary li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

/* line 37, ../sass/partials/global/_extendables.scss */
.element-invisible, .page-nieuws h1, .page-collecties h1, .page-webshop h1, .yellow-box form .attribute-widgets > .form-item > label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

@font-face {
  font-family: 'FuturaBTLight';
  src: url("../fonts/futurabt-lightcondensed-webfont.eot");
  src: url("../fonts/futurabt-lightcondensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futurabt-lightcondensed-webfont.woff") format("woff"), url("../fonts/futurabt-lightcondensed-webfont.ttf") format("truetype"), url("../fonts/futurabt-lightcondensed-webfont.svg#futurabtlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Import base elements */
/*
 * ---------------------------------
 * STYLING OF DEFAULT ELEMENTS
 * ---------------------------------
 */
/* body styling */
/* line 8, ../sass/partials/styleguide/modules/_base-elements.scss */
body {
  background-color: black;
  color: white;
}

/* Links */
/* line 17, ../sass/partials/styleguide/modules/_base-elements.scss */
a,
a:active,
a:link,
a:visited {
  color: #bd9b28;
  text-decoration: none;
}

/* line 23, ../sass/partials/styleguide/modules/_base-elements.scss */
a:hover,
a:focus {
  text-decoration: underline;
}

/* line 27, ../sass/partials/styleguide/modules/_base-elements.scss */
h1 {
  color: #bd9b28;
}

/* line 31, ../sass/partials/styleguide/modules/_base-elements.scss */
.display-inline {
  display: inline;
}

/* Page elements */
/* line 36, ../sass/partials/styleguide/modules/_base-elements.scss */
.page-wrapper {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-family: Arial, sans-serif;
  position: relative;
}

/* line 45, ../sass/partials/styleguide/modules/_base-elements.scss */
.content-wrapper {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 25px 0px;
}
@media (min-width: 481px) {
  /* line 45, ../sass/partials/styleguide/modules/_base-elements.scss */
  .content-wrapper {
    padding: 15px 0px;
  }
}
@media (min-width: 800px) {
  /* line 45, ../sass/partials/styleguide/modules/_base-elements.scss */
  .content-wrapper {
    padding: 30px 0px;
  }
}

/* fixed padding on frontpage */
/* line 61, ../sass/partials/styleguide/modules/_base-elements.scss */
.front .content-wrapper {
  padding: 10px 0px;
}

/* header styling */
/* line 67, ../sass/partials/styleguide/modules/_base-elements.scss */
header {
  font-family: 'FuturaBTLight';
  font-size: 1.5em;
  position: relative;
}
/* line 72, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu {
  position: relative;
  right: 0px;
  top: -10px;
  margin-bottom: 10px;
}
@media (min-width: 321px) {
  /* line 72, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu {
    top: -20px;
  }
}
/* line 83, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li {
  display: block;
  text-align: right;
  cursor: pointer;
  background-color: #222;
  border-top: 1px solid #444;
}
/* line 93, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li:hover a, header ul.menu li:focus a, header ul.menu li.active-trail a {
  color: #bd9b28;
}
/* line 98, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li.first {
  margin-top: 20px;
}
/* line 102, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 12px 0px;
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}
/* line 113, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li#navigationtoggle {
  background-image: url("../img/mobile_nav.png");
  background-image: none, url("../img/mobile_nav.svg"), url("../img/mobile_nav.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #000;
  border: none;
  padding-right: 30px;
  width: 50px;
  height: 60px;
  position: absolute;
  top: -60px;
  right: 0px;
}
/* line 127, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li#navigationtoggle a {
  margin-right: 30px;
}
/* line 132, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li.home {
  display: none;
  border: none;
}
/* line 135, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li.home a {
  display: none;
}
@media (min-width: 800px) {
  /* line 67, ../sass/partials/styleguide/modules/_base-elements.scss */
  header {
    font-size: 1.2em;
  }
  /* line 145, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu {
    position: static;
    right: 0px;
    top: 0px;
    margin-bottom: 0px;
  }
  /* line 151, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li {
    display: block !important;
    float: left;
    width: 13%;
    height: 125px;
    border: none;
    background-color: #000;
  }
  /* line 159, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li a {
    padding: 0;
    height: auto;
    margin-top: 51px;
  }
  /* line 165, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.first {
    margin-top: 0px;
    text-align: left;
    width: 12%;
  }
  /* line 169, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.first a {
    text-align: left;
  }
  /* line 174, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.last {
    width: 10%;
  }
  /* line 176, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.last a {
    text-align: right;
  }
  /* line 181, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.home {
    display: block;
    width: 26%;
    background-image: url("../img/helena-jelbrich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  /* line 188, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.home a {
    display: block;
    text-indent: -9999px;
    margin-top: 0;
    height: 125px;
  }
  /* line 197, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li#navigationtoggle {
    display: none;
    top: -1000px;
  }
  /* line 200, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li#navigationtoggle a {
    display: none;
  }
}

/* Footer theming */
/* line 214, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-first,
footer .footer-second,
footer .footer-third,
footer .footer-fourth {
  padding-bottom: 20px;
  border-bottom: 1px solid #626262;
}
@media (min-width: 321px) {
  /* line 214, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-first,
  footer .footer-second,
  footer .footer-third,
  footer .footer-fourth {
    border: none;
  }
}
/* line 226, ../sass/partials/styleguide/modules/_base-elements.scss */
footer a,
footer a:active,
footer a:link,
footer a:visited {
  color: #aaaaaa;
  text-decoration: none;
}
/* line 232, ../sass/partials/styleguide/modules/_base-elements.scss */
footer a:hover,
footer a:focus {
  text-decoration: underline;
}
/* line 236, ../sass/partials/styleguide/modules/_base-elements.scss */
footer h2 {
  color: #bd9b28;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0.2em;
  font-size: 1em;
}
@media (min-width: 800px) {
  /* line 236, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer h2 {
    font-size: 0.95em;
    margin-top: 0.8em;
  }
}
/* line 249, ../sass/partials/styleguide/modules/_base-elements.scss */
footer ul {
  line-height: 1.5em;
  color: #aaaaaa;
}
/* line 255, ../sass/partials/styleguide/modules/_base-elements.scss */
footer ul li a {
  text-decoration: none;
  color: #aaaaaa;
}
/* line 260, ../sass/partials/styleguide/modules/_base-elements.scss */
footer ul li a:hover, footer ul li a:focus {
  text-decoration: underline;
}
@media (min-width: 800px) {
  /* line 249, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer ul {
    font-size: 0.8em;
  }
}
/* line 271, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth {
  padding-top: 10px;
}
/* line 275, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth ul li {
  text-align: left;
  color: #626262;
  margin-bottom: 3px;
}
/* line 280, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth ul li a {
  color: #626262;
}
/* line 287, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth ul.sanne a:hover, footer .footer-fifth ul.sanne a:focus {
  color: #cc2229;
}
@media (min-width: 481px) {
  /* line 294, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li {
    float: left;
    margin-right: 5px;
  }
  /* line 298, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li:after {
    content: '|';
    padding-left: 5px;
  }
  /* line 303, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last {
    margin-right: 0px;
  }
  /* line 306, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last:after {
    content: '';
  }
  /* line 314, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne li:after {
    content: '';
  }
}
@media (min-width: 800px) {
  /* line 322, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li {
    float: left;
    margin-right: 5px;
  }
  /* line 326, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last {
    margin-right: 0px;
  }
  /* line 329, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last:after {
    content: '';
  }
  /* line 335, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne {
    float: right;
  }
  /* line 338, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne li {
    margin-right: 0;
  }
  /* line 340, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne li:after {
    content: '';
  }
}

/* Admin styles */
/*
 * ---------------------------------
 * STYLING OF THE ADMIN ELEMENTS
 * ---------------------------------
 */
/* line 10, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary {
  position: absolute;
  top: 100px;
  left: 0px;
  float: right;
  overflow: hidden;
}
/* line 19, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary li {
  float: left;
  display: block;
  background-color: #ccc;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 10px;
}
/* line 30, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary li:hover, .logged-in .tabs.primary li.active {
  background-color: #aaa;
}
/* line 34, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary li a {
  margin: 3px 10px;
  color: #333;
  text-decoration: none;
  font-size: 0.9em;
}

/* line 45, ../sass/partials/styleguide/modules/_admin.scss */
.admin-wrapper {
  background-color: #222;
  border-bottom: dotted 1px #555;
}

/* line 49, ../sass/partials/styleguide/modules/_admin.scss */
.admin-content {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
/* line 53, ../sass/partials/styleguide/modules/_admin.scss */
.admin-content .admin-second {
  font-size: 1.1em;
  text-align: right;
}
@media (min-width: 800px) {
  /* line 49, ../sass/partials/styleguide/modules/_admin.scss */
  .admin-content {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  /* line 62, ../sass/partials/styleguide/modules/_admin.scss */
  .admin-content .admin-second {
    font-size: 0.9em;
  }
}

/* Import forms style */
/*
 * ---------------------------------
 * STYLING OF THE FORM ELEMENTS
 * ---------------------------------
 */
@media (min-width: 800px) {
  /* line 7, ../sass/partials/styleguide/modules/_forms.scss */
  form {
    font-size: 0.9em;
  }
}
/* line 12, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item {
  margin-bottom: 10px;
}
/* line 15, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item label {
  font-weight: normal;
  margin-bottom: 0.2em;
}
/* line 21, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item input,
form .form-item textarea {
  border: 1px solid #959595;
  background: none;
  padding: 10px 5px;
  color: #fff;
}
/* line 27, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item input.error,
form .form-item textarea.error {
  border-color: red;
}
/* line 32, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item select {
  border: 1px solid #959595;
  padding: 10px 5px;
  margin-bottom: 10px;
}
/* line 37, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item select.error {
  border-color: red;
}
/* line 46, ../sass/partials/styleguide/modules/_forms.scss */
form input[typ="submit"],
form .form-submit {
  margin-top: 10px;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  padding: 8px 15px;
  float: right;
}

/* Import forms style */
/*
 * ---------------------------------
 * STYLING OF THE MAILCHIMP FORM
 * ---------------------------------
 */
/* line 7, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp {
  /* Tooltip styling */
}
/* line 9, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief {
  width: 85%;
  float: left;
  /* Hide mailchimp title */
}
/* line 15, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief #edit-mailchimp-lists-mailchimp-nieuwsbrief-title {
  display: none;
}
/* line 19, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief .form-type-textfield {
  /* Hide form labels */
}
/* line 22, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief .form-type-textfield label {
  display: none;
}
/* line 29, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp input#edit-submit {
  display: block;
  background: none;
  border: none;
  text-transform: uppercase;
  text-indent: -9999px;
  float: right;
  width: 20px;
  height: 25px;
  background-image: url("../img/subscribe-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 61px;
}
@media (min-width: 481px) {
  /* line 29, ../sass/partials/styleguide/modules/_mailchimp.scss */
  .mailchimp input#edit-submit {
    margin-top: 59px;
  }
}
@media (min-width: 481px) {
  /* line 29, ../sass/partials/styleguide/modules/_mailchimp.scss */
  .mailchimp input#edit-submit {
    margin-top: 56px;
  }
}
/* line 54, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #subscribe-tooltip {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
}

/* Import infopage module */
/*
 * ---------------------------------
 * STYLING OF THE DEFAULT INFO PAGE
 * ---------------------------------
 */
/* line 8, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .image {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 321px) {
  /* line 8, ../sass/partials/styleguide/modules/_info.scss */
  .node-type-info .image {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
/* line 16, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .text {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 321px) {
  /* line 16, ../sass/partials/styleguide/modules/_info.scss */
  .node-type-info .text {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 23, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .text p {
  margin: 0;
  margin-bottom: 0.75em;
}
/* line 28, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .text h2 {
  color: #bd9b28;
  font-size: 1em;
  margin: 0;
}

/* Import contact page module */
/*
 * ---------------------------------
 * STYLING OF THE CONTACT PAGE
 * ---------------------------------
 */
/* line 9, ../sass/partials/styleguide/modules/_contact.scss */
.contact .form-item {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 14, ../sass/partials/styleguide/modules/_contact.scss */
.contact .form-item label,
.contact .form-item input,
.contact .form-item .form-textarea-wrapper {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
@media (min-width: 481px) {
  /* line 19, ../sass/partials/styleguide/modules/_contact.scss */
  .contact .form-item label {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
  }
  /* line 23, ../sass/partials/styleguide/modules/_contact.scss */
  .contact .form-item input,
  .contact .form-item .form-textarea-wrapper {
    width: 74.35897%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 29, ../sass/partials/styleguide/modules/_contact.scss */
.contact h1 {
  font-size: 0.95em;
  color: #bd9b28;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 2em;
}
/* line 37, ../sass/partials/styleguide/modules/_contact.scss */
.contact h2 {
  font-size: 0.95em;
  color: #bd9b28;
  margin-top: 0;
}

/* line 46, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info {
  margin-top: 20px;
}
@media (min-width: 800px) {
  /* line 46, ../sass/partials/styleguide/modules/_contact.scss */
  .contact-info {
    margin-top: 0;
  }
}
/* line 53, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info h2 {
  color: #bd9b28;
  font-size: 0.95em;
  margin: 0;
}
/* line 59, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info h3 {
  color: #bd9b28;
  font-size: 0.95em;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 66, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info p {
  margin: 0;
  font-size: 0.95em;
}
/* line 70, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info p span {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 77, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info p a,
.contact-info p a:active,
.contact-info p a:link,
.contact-info p a:visited {
  color: #fff;
}

/* Import news module */
/*
 * ---------------------------------
 * STYLING OF THE NEWS PAGE
 * ---------------------------------
 */
/* line 13, ../sass/partials/styleguide/modules/_news.scss */
.news {
  border-bottom: 1px solid #626262;
  padding-bottom: 4%;
  margin-bottom: 4%;
}
/* line 18, ../sass/partials/styleguide/modules/_news.scss */
.news .image {
  overflow: hidden;
  height: 150px;
}
/* line 22, ../sass/partials/styleguide/modules/_news.scss */
.news .image img {
  margin-top: -90px;
}
/* line 28, ../sass/partials/styleguide/modules/_news.scss */
.news .text h2 {
  margin: 0.5em 0 0.5em 0;
  line-height: 1.3em;
}
/* line 33, ../sass/partials/styleguide/modules/_news.scss */
.news .text p {
  margin: 0;
  margin-bottom: 0.5em;
}
@media (min-width: 321px) {
  /* line 40, ../sass/partials/styleguide/modules/_news.scss */
  .news .image {
    width: 35.89744%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
    overflow: visible;
    height: 100%;
  }
  /* line 45, ../sass/partials/styleguide/modules/_news.scss */
  .news .image img {
    margin: 0;
  }
  /* line 50, ../sass/partials/styleguide/modules/_news.scss */
  .news .text {
    width: 61.53846%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 53, ../sass/partials/styleguide/modules/_news.scss */
  .news .text h2 {
    margin-top: 0;
  }
}
@media (min-width: 800px) {
  /* line 60, ../sass/partials/styleguide/modules/_news.scss */
  .news .image {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
  }
  /* line 64, ../sass/partials/styleguide/modules/_news.scss */
  .news .text {
    width: 48.71795%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}

/* line 72, ../sass/partials/styleguide/modules/_news.scss */
.sidebar h2 {
  color: #bd9b28;
  font-size: 1.2em;
  margin: 0;
  font-weight: normal;
}
/* line 79, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links {
  margin-bottom: 20px;
  line-height: 1.3em;
}
/* line 83, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul {
  margin: 0;
  padding-left: 17px;
}
/* line 87, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li {
  list-style-type: square;
  margin-bottom: 0.7em;
}
/* line 91, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
}
/* line 98, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li a:visited, .sidebar .links ul li a:active, .sidebar .links ul li a:link {
  color: #fff;
  text-decoration: none;
}
/* line 104, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li a:focus, .sidebar .links ul li a:hover {
  text-decoration: underline;
  color: #bd9b28;
}
/* line 111, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span {
  color: #ccc;
  font-size: 0.85em;
  line-height: 1em;
}
/* line 116, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span span {
  font-size: 1em;
}
/* line 120, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span.stroke {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 125, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span.file {
  font-size: 1em;
}
@media (min-width: 321px) {
  /* line 134, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
  }
  /* line 137, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block:nth-child(2) {
    width: 47.36842%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 800px) {
  /* line 144, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar h2 {
    font-size: 0.95em;
  }
  /* line 148, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 151, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block:nth-child(2) {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 157, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li a {
    font-size: 0.95em;
  }
  /* line 161, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li span {
    font-size: 0.75em;
  }
  /* line 163, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li span span {
    font-size: 1em;
  }
  /* line 167, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li span.file {
    font-size: 1em;
  }
}

/* Import news module */
/*
 * ---------------------------------
 * STYLING OF THE COLLECTION PAGE
 * ---------------------------------
 */
/* album covers layout */
/* line 12, ../sass/partials/styleguide/modules/_collection.scss */
.collection, .page-webshop .webshop {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 15, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album, .page-webshop .webshop .album {
  /* one in a row */
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 321px) {
  /* line 15, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album, .page-webshop .webshop .album {
    /* two in a row */
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 23, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.second, .page-webshop .webshop .album.second {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 481px) {
  /* line 15, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album, .page-webshop .webshop .album {
    /* two in a row */
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 32, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.second, .page-webshop .webshop .album.second {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 36, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.third, .page-webshop .webshop .album.third {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 800px) {
  /* line 15, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album, .page-webshop .webshop .album {
    /* four in a row */
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 45, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.second, .page-webshop .webshop .album.second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 49, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.third, .page-webshop .webshop .album.third {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 53, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.fourth, .page-webshop .webshop .album.fourth {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}

/* album covers styling */
/* line 62, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album, .page-webshop .webshop .album {
  margin-bottom: 8%;
}
@media (min-width: 321px) {
  /* line 62, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album, .page-webshop .webshop .album {
    border: none;
    padding-bottom: 0;
  }
}
@media (min-width: 481px) {
  /* line 62, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album, .page-webshop .webshop .album {
    margin-bottom: 3%;
  }
}
@media (min-width: 800px) {
  /* line 62, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album, .page-webshop .webshop .album {
    margin-bottom: 2%;
  }
}
/* line 78, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album h2, .page-webshop .webshop .album h2 {
  margin: 0;
  color: #fff;
  float: left;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 10px;
  min-height: 2.5em;
  max-width: 70%;
}
@media (min-width: 321px) {
  /* line 78, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album h2, .page-webshop .webshop .album h2 {
    font-size: 0.95em;
  }
}
/* line 96, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album h2 a, .page-webshop .webshop .album h2 a,
.collection .album h2 a:link,
.page-webshop .webshop .album h2 a:link,
.collection .album h2 a:active,
.page-webshop .webshop .album h2 a:active,
.collection .album h2 a:visited,
.page-webshop .webshop .album h2 a:visited {
  color: #fff;
}
/* line 101, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .read-more, .page-webshop .webshop .album .read-more {
  float: right;
  margin-top: 12px;
  font-size: 1em;
  line-height: 1em;
}
/* line 107, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .read-more::before, .page-webshop .webshop .album .read-more::before {
  content: '›';
  margin-right: 3px;
  color: #bd9b28;
}
@media (min-width: 321px) {
  /* line 101, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album .read-more, .page-webshop .webshop .album .read-more {
    font-size: 0.95em;
    margin-top: 10px;
  }
}
/* line 119, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .image, .page-webshop .webshop .album .image {
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 124, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .image a, .page-webshop .webshop .album .image a {
  float: left;
}
/* line 127, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .image a img, .page-webshop .webshop .album .image a img {
  float: left;
}
/* line 134, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album:hover, .page-webshop .webshop .album:hover, .collection .album:focus, .page-webshop .webshop .album:focus {
  cursor: pointer;
}
/* line 140, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album:hover a, .page-webshop .webshop .album:hover a,
.collection .album:hover a:link,
.page-webshop .webshop .album:hover a:link,
.collection .album:hover a:visited,
.page-webshop .webshop .album:hover a:visited,
.collection .album:hover a:active,
.page-webshop .webshop .album:hover a:active, .collection .album:focus a, .page-webshop .webshop .album:focus a,
.collection .album:focus a:link,
.page-webshop .webshop .album:focus a:link,
.collection .album:focus a:visited,
.page-webshop .webshop .album:focus a:visited,
.collection .album:focus a:active,
.page-webshop .webshop .album:focus a:active {
  color: #bd9b28;
}
/* line 148, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album:hover .image a::after, .page-webshop .webshop .album:hover .image a::after, .collection .album:focus .image a::after, .page-webshop .webshop .album:focus .image a::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/album-hover5.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 166, ../sass/partials/styleguide/modules/_collection.scss */
#slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 174, ../sass/partials/styleguide/modules/_collection.scss */
#slider li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
/* line 182, ../sass/partials/styleguide/modules/_collection.scss */
#slider li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 188, ../sass/partials/styleguide/modules/_collection.scss */
#slider li img {
  height: auto;
  max-width: 100%;
  border: 0;
}
/* line 195, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  display: block;
  margin: 0;
  max-width: none;
  text-align: left;
  font-size: 0.85em;
  position: absolute;
  bottom: 7px;
  left: 0;
  padding: 5px 10px;
  background-color: #222;
  opacity: 0.7;
}
/* line 210, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .label-inline {
  display: inline;
}
/* line 214, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .left-caption {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 217, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .left-caption .juwels {
  width: 100%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
  margin-bottom: 0.3em;
}
/* line 223, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .photographer {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: right;
}

/* line 230, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow {
  position: relative;
  display: block;
}
/* line 235, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow .prev,
.slideshow .next {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  background-image: url("../img/slider-arrows.png");
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-indent: -99999px;
  overflow: hidden;
}
/* line 248, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow .prev {
  left: 10px;
  background-position: 10px 50%;
}
/* line 254, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow .next {
  right: 10px;
  background-position: -37px 50%;
}

/* Import webshop module */
/*
 * ---------------------------------
 * STYLING OF THE WEBSHOP PAGES
 * ---------------------------------
 */
/* ------ WEBSHOP LANDINGPAGE ------ */
/* LAYOUT */
/* line 11, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail .detail,
.webshop-detail .order {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 481px) {
  /* line 16, ../sass/partials/styleguide/modules/_webshop.scss */
  .webshop-detail .detail {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 20, ../sass/partials/styleguide/modules/_webshop.scss */
  .webshop-detail .order {
    width: 40.67797%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 800px) {
  /* line 26, ../sass/partials/styleguide/modules/_webshop.scss */
  .webshop-detail .detail {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 30, ../sass/partials/styleguide/modules/_webshop.scss */
  .webshop-detail .order {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}

/* STYLE */
/* line 44, ../sass/partials/styleguide/modules/_webshop.scss */
.page-webshop .webshop ul {
  margin: 0;
  padding: 0;
}

/* DESIGN */
/* line 53, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail h2 {
  color: #bd9b28;
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  line-height: 0.95em;
}
/* line 61, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
/* line 67, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail .detail h1 {
  margin-bottom: 0.5em;
}
/* line 73, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail .order .details {
  padding-left: 1.2em;
  margin-top: 0.5em;
}
/* line 77, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail .order .details li {
  margin-bottom: 0.4em;
}
/* line 81, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail .order .details h3 {
  font-size: 1em;
  font-weight: normal;
  margin-right: 5px;
}
/* line 85, ../sass/partials/styleguide/modules/_webshop.scss */
.webshop-detail .order .details h3:after {
  content: ":";
}

/* line 93, ../sass/partials/styleguide/modules/_webshop.scss */
.yellow-box {
  border: 2px solid #bd9b28;
  padding: 20px;
  margin-bottom: 2em;
}
/* line 98, ../sass/partials/styleguide/modules/_webshop.scss */
.yellow-box .commerce-product-field-commerce-price {
  float: right;
  margin-bottom: 0.7em;
}
/* line 114, ../sass/partials/styleguide/modules/_webshop.scss */
.yellow-box form .attribute-widgets > .form-item .form-radios .form-item input {
  width: 8%;
}
/* line 121, ../sass/partials/styleguide/modules/_webshop.scss */
.yellow-box form input[type="submit"] {
  float: left;
  width: 100%;
  margin-top: 2em;
}

/* Import shoppingcart module */
/*
 * ---------------------------------
 * STYLING OF THE SHOPPINGCART PAGES
 * ---------------------------------
 */
/* Shopping cart status */
/* line 8, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.line-item-summary {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 11, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.admin-second .line-item-summary {
  margin-bottom: 0;
}
/* line 15, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .line-item-summary {
  margin-top: 0.5em;
}

/* line 21, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-cart h1 {
  margin-bottom: 0.5em;
}

/* Shopping cart overview */
/* line 27, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 30, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .cart-item {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 1.5em;
}
/* line 34, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .cart-item.views-row-last {
  border-bottom: 1px solid white;
  padding-bottom: 1em;
}
/* line 40, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .title {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 0.5em;
}
/* line 44, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .price {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding: 9px 0;
}
/* line 48, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .quantity {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
}
/* line 51, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .quantity .form-item {
  margin-bottom: 0;
}
/* line 54, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .quantity .form-item input {
  text-align: center;
}
/* line 59, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .remove {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
}
/* line 62, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .remove input {
  float: none;
  padding: 11px 5px;
  margin-top: 0;
}
/* line 68, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .total {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  padding: 9px 0;
  text-align: right;
}
/* line 74, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .view-header {
  display: none;
}
/* line 80, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .view-header .title,
.cart .view-header .price,
.cart .view-header .quantity,
.cart .view-header .remove,
.cart .view-header .total {
  padding: 0;
}
/* line 86, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .form-actions input {
  margin-left: 10px;
}
/* line 89, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.cart .form-actions input#edit-checkout {
  font-weight: bold;
}
@media (min-width: 481px) {
  /* line 96, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .cart-item {
    margin-bottom: 0.5em;
  }
  /* line 99, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .title {
    width: 45.37815%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
    padding: 9px 0;
  }
  /* line 102, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .title a {
    color: white;
  }
  /* line 106, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .price {
    width: 11.76471%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
  }
  /* line 109, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .quantity {
    width: 7.56303%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
  }
  /* line 112, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .remove {
    width: 15.96639%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
  }
  /* line 115, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .total {
    width: 11.76471%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 119, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .cart .view-header {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    display: block;
    font-weight: bold;
    color: #bd9b28;
    margin-bottom: 0.5em;
  }
}

/* line 131, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout form {
  font-size: 1em;
}
/* line 135, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: 1em;
  padding-bottom: 1em;
  /* Full name input field */
  /* Postal code input field */
  /* City input field */
}
/* line 142, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset legend {
  color: #bd9b28;
  padding-bottom: 1em;
  font-weight: bold;
}
/* line 149, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .view-header {
  display: none;
}
/* line 153, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .title {
  padding: 0;
}
/* line 156, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .quantity {
  text-align: right;
  width: auto;
}
/* line 160, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .price {
  text-align: left;
  padding: 0;
}
/* line 164, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .total {
  padding: 0;
}
/* line 169, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .view-footer table {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 1em;
}
/* line 173, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .view-footer table tbody {
  border: none;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 177, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .view-footer table tr {
  background: none;
  border: none;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 0;
  padding-right: 0;
}
/* line 186, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .view-footer table tr td.component-title {
  width: 74.78992%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
  text-align: right;
}
/* line 190, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .cart .view-footer table tr td.component-total {
  width: 24.36975%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
@media (min-width: 481px) {
  /* line 195, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .page-checkout fieldset .cart .view-footer table tr td.component-title {
    width: 83.19328%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
  }
  /* line 198, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .page-checkout fieldset .cart .view-footer table tr td.component-total {
    width: 15.96639%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 481px) {
  /* line 212, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .page-checkout fieldset .cart-item {
    margin-bottom: 0;
  }
}
/* line 219, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-name-line,
.page-checkout fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-name-line {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 225, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code,
.page-checkout fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 481px) {
  /* line 225, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .page-checkout fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code,
  .page-checkout fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
/* line 235, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-locality,
.page-checkout fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-locality {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
@media (min-width: 481px) {
  /* line 235, ../sass/partials/styleguide/modules/_shoppingcart.scss */
  .page-checkout fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-locality,
  .page-checkout fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-locality {
    width: 83.05085%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 243, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .commerce-customer-profile-copy {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 2em;
}
/* line 247, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .commerce-customer-profile-copy input {
  width: 5.02793%;
  float: left;
  margin-right: 0.55866%;
  display: inline;
  margin-top: 0.5em;
}
/* line 251, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset .commerce-customer-profile-copy label {
  width: 94.41341%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 259, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.checkout-buttons .checkout-cancel,
.page-checkout fieldset.checkout-buttons .checkout-back {
  margin-right: 1em;
  margin-top: 1em;
}
/* line 266, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.commerce_shipping .form-item {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 0;
}
/* line 270, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.commerce_shipping .form-item input {
  width: 5.02793%;
  float: left;
  margin-right: 0.55866%;
  display: inline;
  margin-top: 0.25em;
}
/* line 274, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.commerce_shipping .form-item label {
  width: 94.41341%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 281, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.commerce_payment #edit-commerce-payment-payment-method {
  display: none;
}
/* line 284, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.commerce_payment #payment-details {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 286, ../sass/partials/styleguide/modules/_shoppingcart.scss */
.page-checkout fieldset.commerce_payment #payment-details p {
  margin-top: 0;
}

/*

.admin-wrapper {
  ul {
    &.menu {
      @extend .clean-list;

      li {
        display: inline;
        float: left;
        list-style-type: none;
        list-style: none;
        list-style-image: none;
        background-color: #666;

        &:hover {
          background-color: $yellow;
        }

        a {
          color: #fff;
          font-size: 0.8em;
          display: block;
          padding: 2px 10px;
          text-decoration: none;
        }


      }
    }


  }
}

.logged-in {

  .admin-wrapper {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
  }

}
*/
