/* line 8, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_border-box.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_fluid-media.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 8, ../sass/partials/global/_extendables.scss */
.clearfix, .mailchimp #mailchimp-newsletter-nieuwsbrief {
  zoom: 1;
}
/* line 10, ../sass/partials/global/_extendables.scss */
.clearfix:before, .mailchimp #mailchimp-newsletter-nieuwsbrief:before, .clearfix:after, .mailchimp #mailchimp-newsletter-nieuwsbrief:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 16, ../sass/partials/global/_extendables.scss */
.clearfix:after, .mailchimp #mailchimp-newsletter-nieuwsbrief:after {
  clear: both;
}

/* line 21, ../sass/partials/global/_extendables.scss */
.clean-list, header ul.menu, footer ul, .logged-in .tabs.primary {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}
/* line 28, ../sass/partials/global/_extendables.scss */
.clean-list li, header ul.menu li, footer ul li, .logged-in .tabs.primary li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

@font-face {
  font-family: 'FuturaBTLight';
  src: url("../fonts/futurabt-lightcondensed-webfont.eot");
  src: url("../fonts/futurabt-lightcondensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futurabt-lightcondensed-webfont.woff") format("woff"), url("../fonts/futurabt-lightcondensed-webfont.ttf") format("truetype"), url("../fonts/futurabt-lightcondensed-webfont.svg#futurabtlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Import base elements */
/*
 * ---------------------------------
 * STYLING OF DEFAULT ELEMENTS
 * ---------------------------------
 */
/* body styling */
/* line 8, ../sass/partials/styleguide/modules/_base-elements.scss */
body {
  background-color: black;
  color: white;
}

/* Links */
/* line 17, ../sass/partials/styleguide/modules/_base-elements.scss */
a,
a:active,
a:link,
a:visited {
  color: #bd9b28;
  text-decoration: none;
}

/* line 23, ../sass/partials/styleguide/modules/_base-elements.scss */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Page elements */
/* line 28, ../sass/partials/styleguide/modules/_base-elements.scss */
.page-wrapper {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-family: Arial, sans-serif;
  position: relative;
}

/* line 37, ../sass/partials/styleguide/modules/_base-elements.scss */
.content-wrapper {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 10px 0px;
}
@media (min-width: 481px) {
  /* line 37, ../sass/partials/styleguide/modules/_base-elements.scss */
  .content-wrapper {
    padding: 15px 0px;
  }
}
@media (min-width: 800px) {
  /* line 37, ../sass/partials/styleguide/modules/_base-elements.scss */
  .content-wrapper {
    padding: 30px 0px;
  }
}

/* fixed padding on frontpage */
/* line 53, ../sass/partials/styleguide/modules/_base-elements.scss */
.front .content-wrapper {
  padding: 10px 0px;
}

/* header styling */
/* line 59, ../sass/partials/styleguide/modules/_base-elements.scss */
header {
  font-family: 'FuturaBTLight';
  font-size: 1.5em;
  position: relative;
}
/* line 64, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu {
  position: relative;
  right: 0px;
  top: -10px;
  margin-bottom: 10px;
}
@media (min-width: 321px) {
  /* line 64, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu {
    top: -20px;
  }
}
/* line 75, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li {
  display: block;
  text-align: right;
  cursor: pointer;
  background-color: #222;
  border-top: 1px solid #444;
}
/* line 85, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li:hover a, header ul.menu li:focus a, header ul.menu li.active-trail a {
  color: #bd9b28;
}
/* line 90, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li.first {
  margin-top: 20px;
}
/* line 94, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 12px 0px;
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}
/* line 105, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li#navigationtoggle {
  background-image: url("../img/mobile_nav.png");
  background-image: none, url("../img/mobile_nav.svg"), url("../img/mobile_nav.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #000;
  border: none;
  padding-right: 30px;
  width: 50px;
  height: 60px;
  position: absolute;
  top: -60px;
  right: 0px;
}
/* line 119, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li#navigationtoggle a {
  margin-right: 30px;
}
/* line 124, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li.home {
  display: none;
  border: none;
}
/* line 127, ../sass/partials/styleguide/modules/_base-elements.scss */
header ul.menu li.home a {
  display: none;
}
@media (min-width: 800px) {
  /* line 59, ../sass/partials/styleguide/modules/_base-elements.scss */
  header {
    font-size: 1.2em;
  }
  /* line 137, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu {
    position: static;
    right: 0px;
    top: 0px;
    margin-bottom: 0px;
  }
  /* line 143, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li {
    display: block !important;
    float: left;
    width: 13%;
    height: 125px;
    border: none;
    background-color: #000;
  }
  /* line 151, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li a {
    padding: 0;
    height: auto;
    margin-top: 51px;
  }
  /* line 157, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.first {
    margin-top: 0px;
    text-align: left;
    width: 12%;
  }
  /* line 161, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.first a {
    text-align: left;
  }
  /* line 166, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.last {
    width: 10%;
  }
  /* line 168, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.last a {
    text-align: right;
  }
  /* line 173, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.home {
    display: block;
    width: 26%;
    background-image: url("../img/helena-jelbrich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  /* line 180, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li.home a {
    display: block;
    text-indent: -9999px;
    margin-top: 0;
    height: 125px;
  }
  /* line 189, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li#navigationtoggle {
    display: none;
    top: -1000px;
  }
  /* line 192, ../sass/partials/styleguide/modules/_base-elements.scss */
  header ul.menu li#navigationtoggle a {
    display: none;
  }
}

/* Footer theming */
/* line 206, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-first,
footer .footer-second,
footer .footer-third,
footer .footer-fourth {
  padding-bottom: 20px;
  border-bottom: 1px solid #626262;
}
@media (min-width: 321px) {
  /* line 206, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-first,
  footer .footer-second,
  footer .footer-third,
  footer .footer-fourth {
    border: none;
  }
}
/* line 218, ../sass/partials/styleguide/modules/_base-elements.scss */
footer a,
footer a:active,
footer a:link,
footer a:visited {
  color: #aaaaaa;
  text-decoration: none;
}
/* line 224, ../sass/partials/styleguide/modules/_base-elements.scss */
footer a:hover,
footer a:focus {
  text-decoration: underline;
}
/* line 228, ../sass/partials/styleguide/modules/_base-elements.scss */
footer h2 {
  color: #bd9b28;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0.2em;
  font-size: 1.2em;
}
@media (min-width: 800px) {
  /* line 228, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer h2 {
    font-size: 0.95em;
    margin-top: 0.8em;
  }
}
/* line 241, ../sass/partials/styleguide/modules/_base-elements.scss */
footer ul {
  line-height: 1.5em;
  color: #aaaaaa;
}
/* line 247, ../sass/partials/styleguide/modules/_base-elements.scss */
footer ul li a {
  text-decoration: none;
  color: #aaaaaa;
}
/* line 252, ../sass/partials/styleguide/modules/_base-elements.scss */
footer ul li a:hover, footer ul li a:focus {
  text-decoration: underline;
}
@media (min-width: 800px) {
  /* line 241, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer ul {
    font-size: 0.8em;
  }
}
/* line 263, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth {
  padding-top: 10px;
}
/* line 267, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth ul li {
  text-align: left;
  color: #626262;
  margin-bottom: 3px;
}
/* line 272, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth ul li a {
  color: #626262;
}
/* line 279, ../sass/partials/styleguide/modules/_base-elements.scss */
footer .footer-fifth ul.sanne a:hover, footer .footer-fifth ul.sanne a:focus {
  color: #cc2229;
}
@media (min-width: 481px) {
  /* line 286, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li {
    float: left;
    margin-right: 5px;
  }
  /* line 290, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li:after {
    content: '|';
    padding-left: 5px;
  }
  /* line 295, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last {
    margin-right: 0px;
  }
  /* line 298, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last:after {
    content: '';
  }
  /* line 306, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne li:after {
    content: '';
  }
}
@media (min-width: 800px) {
  /* line 314, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li {
    float: left;
    margin-right: 5px;
  }
  /* line 318, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last {
    margin-right: 0px;
  }
  /* line 321, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul li.last:after {
    content: '';
  }
  /* line 327, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne {
    float: right;
  }
  /* line 330, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne li {
    margin-right: 0;
  }
  /* line 332, ../sass/partials/styleguide/modules/_base-elements.scss */
  footer .footer-fifth ul.sanne li:after {
    content: '';
  }
}

/* Admin styles */
/*
 * ---------------------------------
 * STYLING OF THE ADMIN ELEMENTS
 * ---------------------------------
 */
/* line 10, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary {
  position: absolute;
  top: 100px;
  left: 0px;
  float: right;
  overflow: hidden;
}
/* line 19, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary li {
  float: left;
  display: block;
  background-color: #ccc;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 10px;
}
/* line 30, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary li:hover, .logged-in .tabs.primary li.active {
  background-color: #aaa;
}
/* line 34, ../sass/partials/styleguide/modules/_admin.scss */
.logged-in .tabs.primary li a {
  margin: 3px 10px;
  color: #333;
  text-decoration: none;
  font-size: 0.9em;
}

/* Import forms style */
/*
 * ---------------------------------
 * STYLING OF THE FORM ELEMENTS
 * ---------------------------------
 */
@media (min-width: 800px) {
  /* line 7, ../sass/partials/styleguide/modules/_forms.scss */
  form {
    font-size: 0.9em;
  }
}
/* line 12, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item {
  margin-bottom: 10px;
}
/* line 15, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item label {
  font-weight: normal;
  margin-bottom: 0.2em;
}
/* line 21, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item input,
form .form-item textarea {
  border: 1px solid #959595;
  background: none;
  padding: 10px 5px;
  color: #fff;
}
/* line 27, ../sass/partials/styleguide/modules/_forms.scss */
form .form-item input.error,
form .form-item textarea.error {
  border-color: red;
}
/* line 34, ../sass/partials/styleguide/modules/_forms.scss */
form input[typ="submit"],
form .form-submit {
  margin-top: 10px;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  padding: 8px 15px;
  float: right;
}

/* Import forms style */
/*
 * ---------------------------------
 * STYLING OF THE MAILCHIMP FORM
 * ---------------------------------
 */
/* line 7, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp {
  /* Tooltip styling */
}
/* line 9, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief {
  width: 85%;
  float: left;
  /* Hide mailchimp title */
}
/* line 15, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief #edit-mailchimp-lists-mailchimp-nieuwsbrief-title {
  display: none;
}
/* line 19, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief .form-type-textfield {
  /* Hide form labels */
}
/* line 22, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #mailchimp-newsletter-nieuwsbrief .form-type-textfield label {
  display: none;
}
/* line 29, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp input#edit-submit {
  display: block;
  background: none;
  border: none;
  text-transform: uppercase;
  text-indent: -9999px;
  float: right;
  width: 20px;
  height: 25px;
  background-image: url("../img/subscribe-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 61px;
}
@media (min-width: 481px) {
  /* line 29, ../sass/partials/styleguide/modules/_mailchimp.scss */
  .mailchimp input#edit-submit {
    margin-top: 59px;
  }
}
@media (min-width: 481px) {
  /* line 29, ../sass/partials/styleguide/modules/_mailchimp.scss */
  .mailchimp input#edit-submit {
    margin-top: 56px;
  }
}
/* line 54, ../sass/partials/styleguide/modules/_mailchimp.scss */
.mailchimp #subscribe-tooltip {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
}

/* Import infopage module */
/*
 * ---------------------------------
 * STYLING OF THE DEFAULT INFO PAGE
 * ---------------------------------
 */
/* line 8, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .image {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 321px) {
  /* line 8, ../sass/partials/styleguide/modules/_info.scss */
  .node-type-info .image {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
/* line 16, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .text {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 321px) {
  /* line 16, ../sass/partials/styleguide/modules/_info.scss */
  .node-type-info .text {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 23, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .text p {
  margin: 0;
  margin-bottom: 0.75em;
}
/* line 28, ../sass/partials/styleguide/modules/_info.scss */
.node-type-info .text h2 {
  color: #bd9b28;
  font-size: 1em;
  margin: 0;
}

/* Import contact page module */
/*
 * ---------------------------------
 * STYLING OF THE CONTACT PAGE
 * ---------------------------------
 */
/* line 9, ../sass/partials/styleguide/modules/_contact.scss */
.contact .form-item {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 14, ../sass/partials/styleguide/modules/_contact.scss */
.contact .form-item label,
.contact .form-item input,
.contact .form-item .form-textarea-wrapper {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
@media (min-width: 481px) {
  /* line 19, ../sass/partials/styleguide/modules/_contact.scss */
  .contact .form-item label {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
  }
  /* line 23, ../sass/partials/styleguide/modules/_contact.scss */
  .contact .form-item input,
  .contact .form-item .form-textarea-wrapper {
    width: 74.35897%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 29, ../sass/partials/styleguide/modules/_contact.scss */
.contact h2 {
  font-size: 0.95em;
  color: #bd9b28;
  margin-top: 0;
}

/* line 36, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info {
  margin-top: 20px;
}
@media (min-width: 800px) {
  /* line 36, ../sass/partials/styleguide/modules/_contact.scss */
  .contact-info {
    margin-top: 0;
  }
}
/* line 43, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info h2 {
  color: #bd9b28;
  font-size: 0.95em;
  margin: 0;
}
/* line 49, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info h3 {
  color: #bd9b28;
  font-size: 0.95em;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 56, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info p {
  margin: 0;
  font-size: 0.95em;
}
/* line 60, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info p span {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}
/* line 67, ../sass/partials/styleguide/modules/_contact.scss */
.contact-info p a,
.contact-info p a:active,
.contact-info p a:link,
.contact-info p a:visited {
  color: #fff;
}

/* Import news module */
/*
 * ---------------------------------
 * STYLING OF THE NEWS PAGE
 * ---------------------------------
 */
/* line 7, ../sass/partials/styleguide/modules/_news.scss */
.news {
  border-bottom: 1px solid #626262;
  padding-bottom: 4%;
  margin-bottom: 4%;
}
/* line 12, ../sass/partials/styleguide/modules/_news.scss */
.news .image {
  overflow: hidden;
  height: 150px;
}
/* line 16, ../sass/partials/styleguide/modules/_news.scss */
.news .image img {
  margin-top: -90px;
}
/* line 22, ../sass/partials/styleguide/modules/_news.scss */
.news .text h2 {
  margin: 0.5em 0 0.5em 0;
  line-height: 1.3em;
}
/* line 27, ../sass/partials/styleguide/modules/_news.scss */
.news .text p {
  margin: 0;
  margin-bottom: 0.5em;
}
@media (min-width: 321px) {
  /* line 34, ../sass/partials/styleguide/modules/_news.scss */
  .news .image {
    width: 35.89744%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
    overflow: visible;
    height: 100%;
  }
  /* line 39, ../sass/partials/styleguide/modules/_news.scss */
  .news .image img {
    margin: 0;
  }
  /* line 44, ../sass/partials/styleguide/modules/_news.scss */
  .news .text {
    width: 61.53846%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 47, ../sass/partials/styleguide/modules/_news.scss */
  .news .text h2 {
    margin-top: 0;
  }
}
@media (min-width: 800px) {
  /* line 54, ../sass/partials/styleguide/modules/_news.scss */
  .news .image {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
  }
  /* line 58, ../sass/partials/styleguide/modules/_news.scss */
  .news .text {
    width: 48.71795%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}

/* line 66, ../sass/partials/styleguide/modules/_news.scss */
.sidebar h2 {
  color: #bd9b28;
  font-size: 1.2em;
  margin: 0;
  font-weight: normal;
}
/* line 73, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links {
  margin-bottom: 20px;
  line-height: 1.3em;
}
/* line 77, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul {
  margin: 0;
  padding-left: 17px;
}
/* line 81, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li {
  list-style-type: square;
  margin-bottom: 0.7em;
}
/* line 85, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
}
/* line 92, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li a:visited, .sidebar .links ul li a:active, .sidebar .links ul li a:link {
  color: #fff;
  text-decoration: none;
}
/* line 98, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li a:focus, .sidebar .links ul li a:hover {
  text-decoration: underline;
  color: #bd9b28;
}
/* line 105, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span {
  color: #ccc;
  font-size: 0.85em;
  line-height: 1em;
}
/* line 110, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span span {
  font-size: 1em;
}
/* line 114, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span.stroke {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 119, ../sass/partials/styleguide/modules/_news.scss */
.sidebar .links ul li span.file {
  font-size: 1em;
}
@media (min-width: 321px) {
  /* line 128, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
  }
  /* line 131, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block:nth-child(2) {
    width: 47.36842%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 800px) {
  /* line 138, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar h2 {
    font-size: 0.95em;
  }
  /* line 142, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 145, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block:nth-child(2) {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 151, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li a {
    font-size: 0.95em;
  }
  /* line 155, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li span {
    font-size: 0.75em;
  }
  /* line 157, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li span span {
    font-size: 1em;
  }
  /* line 161, ../sass/partials/styleguide/modules/_news.scss */
  .sidebar .block ul li span.file {
    font-size: 1em;
  }
}

/* Import news module */
/*
 * ---------------------------------
 * STYLING OF THE COLLECTION PAGE
 * ---------------------------------
 */
/* album covers layout */
/* line 8, ../sass/partials/styleguide/modules/_collection.scss */
.collection {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 11, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album {
  /* one in a row */
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 321px) {
  /* line 11, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album {
    /* two in a row */
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 19, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.second {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 481px) {
  /* line 11, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album {
    /* two in a row */
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 28, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.second {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 32, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.third {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
@media (min-width: 800px) {
  /* line 11, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album {
    /* four in a row */
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 41, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 45, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.third {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 49, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album.fourth {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}

/* album covers styling */
/* line 58, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album {
  margin-bottom: 8%;
}
@media (min-width: 321px) {
  /* line 58, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album {
    border: none;
    padding-bottom: 0;
  }
}
@media (min-width: 481px) {
  /* line 58, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album {
    margin-bottom: 3%;
  }
}
@media (min-width: 800px) {
  /* line 58, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album {
    margin-bottom: 2%;
  }
}
/* line 74, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album h2 {
  margin: 0;
  color: #fff;
  float: left;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1em;
  margin-top: 10px;
}
@media (min-width: 321px) {
  /* line 74, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album h2 {
    font-size: 0.95em;
  }
}
/* line 90, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album h2 a,
.collection .album h2 a:link,
.collection .album h2 a:active,
.collection .album h2 a:visited {
  color: #fff;
}
/* line 95, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .read-more {
  float: right;
  margin-top: 12px;
  font-size: 1em;
  line-height: 1em;
}
/* line 101, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .read-more::before {
  content: '›';
  margin-right: 3px;
  color: #bd9b28;
}
@media (min-width: 321px) {
  /* line 95, ../sass/partials/styleguide/modules/_collection.scss */
  .collection .album .read-more {
    font-size: 0.95em;
    margin-top: 10px;
  }
}
/* line 113, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .image {
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 118, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .image a {
  float: left;
}
/* line 121, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album .image a img {
  float: left;
}
/* line 128, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album:hover, .collection .album:focus {
  cursor: pointer;
}
/* line 134, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album:hover a,
.collection .album:hover a:link,
.collection .album:hover a:visited,
.collection .album:hover a:active, .collection .album:focus a,
.collection .album:focus a:link,
.collection .album:focus a:visited,
.collection .album:focus a:active {
  color: #bd9b28;
}
/* line 142, ../sass/partials/styleguide/modules/_collection.scss */
.collection .album:hover .image a::after, .collection .album:focus .image a::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/album-hover5.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 160, ../sass/partials/styleguide/modules/_collection.scss */
#slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 168, ../sass/partials/styleguide/modules/_collection.scss */
#slider li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
/* line 176, ../sass/partials/styleguide/modules/_collection.scss */
#slider li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 182, ../sass/partials/styleguide/modules/_collection.scss */
#slider li img {
  height: auto;
  max-width: 100%;
  border: 0;
}
/* line 189, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  display: block;
  margin: 0;
  max-width: none;
  text-align: left;
  font-size: 0.85em;
  position: absolute;
  bottom: 7px;
  left: 0;
  padding: 5px 10px;
  background-color: #222;
  opacity: 0.7;
}
/* line 204, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .label-inline {
  display: inline;
}
/* line 208, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .left-caption {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 211, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .left-caption .juwels {
  width: 100%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
  margin-bottom: 0.3em;
}
/* line 217, ../sass/partials/styleguide/modules/_collection.scss */
#slider .caption .photographer {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: right;
}

/* line 224, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow {
  position: relative;
  display: block;
}
/* line 229, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow .prev,
.slideshow .next {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  background-image: url("../img/slider-arrows.png");
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-indent: -99999px;
  overflow: hidden;
}
/* line 242, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow .prev {
  left: 10px;
  background-position: 10px 50%;
}
/* line 248, ../sass/partials/styleguide/modules/_collection.scss */
.slideshow .next {
  right: 10px;
  background-position: -37px 50%;
}

/*

.admin-wrapper {
  ul {
    &.menu {
      @extend .clean-list;

      li {
        display: inline;
        float: left;
        list-style-type: none;
        list-style: none;
        list-style-image: none;
        background-color: #666;

        &:hover {
          background-color: $yellow;
        }

        a {
          color: #fff;
          font-size: 0.8em;
          display: block;
          padding: 2px 10px;
          text-decoration: none;
        }


      }
    }


  }
}

.logged-in {

  .admin-wrapper {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
  }

}
*/
